@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: OnePiece;
  src: url("../fonts/one\ piece\ font.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/background_header.webp);
  background-repeat: repeat;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  text-align: center;
}

.title {
  font-family: "OnePiece";
}

.title,
.title-desc {
  color: #000;
}

.title-desc {
  margin: auto;
  width: 800px;
  text-align: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav a:hover {
  font-size: large;
  font-weight: 600;
}

nav a.active {
  font-size: large;
  font-weight: 800;
  text-decoration: underline;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  background-color: #f0f0f0;
}

#content {
  flex: 1;
  margin-right: 20px;
}

section p {
  text-align: justify;
}

.quote {
  font-style: italic;
  font-size: 1.5rem;
  color: #333;
  border-left: 5px solid #333;
  padding: 10px;
  margin: 0;
}

hr {
  visibility: hidden;
}

aside {
  border-top: 5px dashed black;
  flex: 0 0 100%;
  padding-top: 1rem;
  margin-top: 2.5rem;
}

.profile h2 {
  text-align: center;
}

.figure-profile {
  text-align: center;
  margin: 0.7rem auto;
}

.profile-img {
  border-radius: 50%;
  width: 50%;
  align-items: center;
}

.profile-name,
.profile-desc {
  text-align: center;
}

.profile-name {
  font-size: 1.5rem;
}

.profile-desc {
  font-size: 0.8rem;
}

.profile-desc {
  width: 65%;
  margin: auto;
}
footer {
  background-image: url("../img/background_header.webp");
  color: #000;
  padding: 20px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px) {
  aside {
    border-top: none;
    flex: 0 0 300px;
    margin-top: 0;
  }

  .profile-desc {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .jumbotron {
    padding: 30px;
  }

  .title-desc {
    max-width: 100%;
    padding: 0 20px;
  }

  nav ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul li {
    margin: 10px 0;
  }

  .profile-desc {
    width: 55%;
    margin: auto;
  }

  footer {
    padding: 10px;
  }
}
